.modalMask {
  width: 100% !important;
}
.modalContent {
  margin: 0;
  padding: 0;
}

.modalFooter button{
  border: 1px solid !important;
  color: black;
}

.modalFooter button:hover{
  border-color: antiquewhite !important;
}
